:root {
  --primary-color: #015cbf;
  --secondary-color: #f8f9fa;
  --heading-font-family: "Halant", serif;
  --para-font-family: "Nunito Sans", sans-serif;
}

body {
  font-family: var(--para-font-family);
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  font-size: 50px;
  color: #233142;
  margin: 30px 0;
  text-align: center;
}

h2 {
  font-family: var(--heading-font-family);
  font-weight: 400;
  font-size: 26px;
  color: #233142;
  opacity: 90%;
  text-align: center;
  margin: 0 0 60px;
}

h3 {
  font-family: var(--heading-font-family);
  font-weight: 400;
  opacity: 90%;
}

h4 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  font-size: 20px;
}

p {
  font-weight: 400;
  font-size: 18px;
}

ul {
  list-style-type: none;
}

.banner {
  background-image: url(/src/images/forensics-banner.jpeg);
  width: 100%;
}
/*---------------------------------
# Navigation
----------------------------------- */

.logo {
  margin: 20px 20px 20px 50px;
  padding: 5px;
}

.welcome {
  margin-top: 30px;
}

.nav-link {
  font-family: var(--heading-font-family);
  font-weight: 400;
  font-size: 16px;
  margin: 5px;
}

.dropdown-item {
  font-family: var(--heading-font-family);
  font-size: smaller;
}

.btn-sm {
  font-family: var(--heading-font-family);
  font-size: smaller;
  color: var(--primary-color);
  margin-right: 100px;
}

.img-fluid {
  border-radius: 8px;
  padding: 5px;
  margin-top: 30px;
}
.client-btn {
  margin: 0px 30px 30px;
  color: #0092ca;
  background-color: #fcfafa;
  outline: 1px solid;
  width: 130px;
  height: 50px;
}

/*----------------------------
   About Nansen Forensics Section
   ------------------------------  */

.nansen-forensics {
  margin-top: 50px;
}

.p-about-nansen {
  text-align: justify;
  margin-right: 30px;
}

/* ------------------------------
 Services Section 
 --------------------------------*/

.services {
  margin-top: 30px;
}
hr {
  width: 180px;
  color: #0092ca;
}
.p-services {
  width: 98%;
  text-align: justify;
  margin-bottom: 3px;
}

.services-btn {
  color: var(--primary-color);
  font-family: var(--heading-font-family);
  outline: 1px solid;
  width: 150px;
  margin-top: 30px;
}


.card-text {
  font-size: 16px;
}

/* ----------------------------------
Founders Section
-------------------------------------*/

.h-founders {
  margin-top: 60px;
}

.p-founders {
  font-weight: bold;
}

.p-text {
  text-align: justify;
  margin-right: 30px;
}

.founders-image {
  margin-top: 140px;
  max-width: 80%;
  max-width: auto;
}

/* -----------------------------------
Partners Section
-------------------------------------- */

.partners {
  margin-top: 30px;
}

/* -----------------------------------
Contact Page
-------------------------------------- */
.form-group {
  margin: 15px;
}
.contact-button {
  text-align: center;
  margin: 15px 0px 20px 50px;
}
.contact-heading {
  text-align: center;
  margin: 70px;
}

.contact-subheading {
  text-align: left;
  margin: 15px;
}

.find-us {
  text-align: left;
  margin: 15px;
}

.phone-contact {
  margin: 15px;
}

.address-contact {
  margin: 15px;
}

.maps {
  margin: 15px;
}

/* -----------------------------------------------
Vacancies Page 
---------------------------------------------------*/
.container-work {
  margin: 0px 100px 50px;
  text-align: justify;
}
.vacancies {
  display: block;
  margin: 110px 150px 0px 100px;
  width: 1000px;
}

.vacancy {
  line-height: 7px;
  padding: 0px 10px;
  font-size: smaller;
}

.why-work {
  text-align: left;
  margin: 100px 1px 10px;
}
.v-subheading {
  text-align: center;
}

.v-work {
  border-radius: 5px;
}

.opportunities {
  color: #0092ca;
  text-decoration: none;
}

/* ---------------------------------------
Quote Page
------------------------------------------- */
.quote-subheading {
  text-align: center;
  font-size: 32px;
  margin: 40px;
}
/* ---------------------------------------
Clients Page
------------------------------------------- */
.model {
  margin: 20px 100px;
  color: #233142;
}


/* ---------------------------------------
Footer Section 
------------------------------------------- */
.footer {
  width: 100%;
}
.nansen {
  color: #233142;
  margin: 3px 100px 0px;
}

.address {
  margin: 10px 100px 0px;
}

.fab {
  color: var(--primary-color);
  font-size: 20px;
  margin-left: 10px;
  text-align: center;
}

.phone {
  margin: 10px 100px 0px;
}

.email {
  margin: 3px;
  text-decoration: none;
  line-height: 10px;
}

.copyright {
  margin: 3px;
  text-align: center;
}
.footer-links {
  text-decoration: none;
  color: grey;
  text-align: left;
}

.footer-subheading {
  margin: 5px 25px;
}

/* -----------------------------------------
Responsiveness - main page
-------------------------------------------- */
@media (max-width: 990px) {
  .btn-sm {
    display: none;
  }
  .card-text {
    display: none;
  }

  .card-title {
    font-size: 7px;
    font-weight: 700;
  }
  p,
  .p-about-nansen,
  .p-services,
  .p-text,
  .p-founders,
  .p-about-nansen,
  .partners {
    font-size: 16px;
    text-align: center;
  }

  .services {
    margin: auto;
  }
  h1 {
    font-size: 18px;
    text-align: center;
  }

  h2,
  h3,
  .h-founders {
    font-size: 14px;
    text-align: center;
    margin: auto;
  }
}

.footer-button {
  display: flex;
  margin: 3px 10px;
}
/* -----------------------------------------
Responsiveness - vacancies page
-------------------------------------------- */
@media (max-width: 990px) {
  h4 {
    text-align: center;
    margin: auto;
  }

  .why-work {
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
  }

  .footer-subheading {
    text-align: center;
    margin-top: 20px;
  }

  .social-links,
  .footer-links {
    display: block;
    text-align: center;
  }
  .vacancies,
  .vacancy {
    display: none;
  }
  .v-work {
    display: none;
  }

  .copyright {
    margin-top: 25px;
  }
}

/* -----------------------------------------
Responsiveness - contact page
-------------------------------------------- */
@media (max-width: 990px) {
  .submit-button {
    display: block;
  }
}
